.square {
  width: 200px;
  height: 20px;
  border: 1px solid #ccc;
  transition: background 0.5s;
}

.row {
  display: flex;
}

.chessboard {
  margin: 10px;
}

.gradientSquare {
  width: 200px;
  height: 20px;
  border: 1px solid #ccc;
  background: linear-gradient(to bottom, pink, purple);
  transition: background 0.5s;
}

@keyframes waveAnimation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.waveSquare {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  background: linear-gradient(to bottom, red, purple);
  animation: waveAnimation 1000ms infinite alternate;
}
